body {
  font-family: 'andalus', arial, sans-serif;
  font-weight: 300;
  background-image: url(background5.jpg);
  background-size: cover;
}
#wrapper {
  width: 960px;
  margin: 20px auto 20px auto;
}
h1 {
	color: black;
  text-align: center;
  font-style: bold;
  border: solid;
  font-family: Lucida Handwriting;
}
p{
  font-style:italic;
}

img {
  width:250px; 
}

.time{
  color: black;
  font-size: 20px;
  font-style: bold;
  font-family: Lucida Handwriting;
  border-bottom-style: ridge;

}

#End {
  color: black;
  font-size: 20px;
  text-align: center;
  font-style: bold;
  border: none;
  font-family: Lucida Handwriting;
}